#nc_map {
  height: 90%;
}

#title {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
}

#status {
  height: 5%;
  text-align: center;
  color: #a3a3a3;
  font-family: Arial, sans-serif;
  padding: 10px;
}
